.detailed_show {
    margin-top: 11rem;
    margin-bottom: 7rem;
    .row {
        .col-5 {
            position: relative;
            img {
                width: 22rem;
                height: 28rem;
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
            }
            .img_overlay {
                position: absolute;
                top: 0;
                left: 15px;
                width: 22rem;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
                text-align: center;
                opacity: 0;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
                i {
                    color: #ffffff;
                    font-size: 5rem;
                    padding-top: 9.5rem;
                    cursor: pointer;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    &:hover {
                        color: #CEA430;
                        transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -ms-transition: all 0.3s;
                        -o-transition: all 0.3s;
                    }
                }
                &:hover {
                    opacity: 1;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    i {
                        padding-top: 10rem;
                    }
                }
            }            
        }
        .col-7 {
            box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3), 0 0 50px 0 rgba(0, 0, 0, 0.4) inset;
            padding: 2rem;
            overflow-y: scroll;
            height: 28rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            .row {
                .col-12 {
                    position: relative;
                    .btnTitle {
                        position: absolute;
                        bottom: -0.75rem;
                        color: black;
                        text-decoration: none;
                        font-size: 1.5rem;
                        transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -ms-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        padding: 0.5rem;
                        box-shadow: none;
                        background-color: transparent;                        
                        &:hover {
                            position: absolute;
                            bottom: -1rem;
                            font-size: 1.75rem;
                            color: #CEA430;
                            transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -ms-transition: all 0.3s;
                            -o-transition: all 0.3s;
                        }
                    }
                    .active {
                        position: absolute;
                        bottom: -1rem;
                        font-size: 1.75rem;
                        color: #CEA430;
                        transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -ms-transition: all 0.3s;
                        -o-transition: all 0.3s;
                    }
                    button.btnThongTin {
                        left: 26%;
                        &:hover {
                            left: 26%;
                        }
                    }
                    button.btnLichChieu {
                        right: 26%;
                        &:hover {
                            right: 26%;
                        }
                    }
                    h4 {
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    p {
                        font-size: 1.1rem;
                        span {
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        #div_scroller::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        #div_scroller::-webkit-scrollbar {
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        #div_scroller::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #CEA430;
        }
    }
}

@media (max-width: 1680px) and (min-width: 1441px) {

}

@media (max-width: 1440px) and (min-width: 1367px) {

}

@media (max-width: 1366px) and (min-width: 1201px) {

}

@media (max-width: 1200px) and (min-width: 993px) {

}

@media (max-width: 992px) and (min-width: 769px) {
    .detailed_show {
        .row {
            .col-7 {
                .row {
                    .col-12 {
                        button.btnThongTin {
                            left: 22% !important;
                            &:hover {
                                left: 22% !important;
                            }
                        }
                        button.btnLichChieu {
                            right: 19% !important;
                            &:hover {
                                right: 19% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    .detailed_show {
        .row {
            .col-5 {
                img {
                    width: auto !important;
                    height: 24rem !important;
                }
                .img_overlay {
                    width: 81% !important;
                }
            }
            .col-7 {
                height: 24rem !important;
                .row {
                    .col-12 {
                        button.btnThongTin {
                            left: 11% !important;
                            &:hover {
                                left: 11% !important;
                            }
                        }
                        button.btnLichChieu {
                            right: 7% !important;
                            &:hover {
                                right: 7% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {

}

