.card {
    border: none;
    img {
        width: 98%;
        height: 13rem;
        margin: auto;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    .card-body{
        padding: 0.5rem 0.75rem;
        p{
            font-size: 1.25rem;
            text-transform: uppercase;
        }
    }
}