.seating_screen {
    margin-top: 8rem;
    margin-bottom: 6rem;
    .row {
        position: relative;
        .screen {
            position: absolute;
            top: 8rem;
            left: 4.7rem;
            width: 45%;
            height: 1.5rem;
            background-color: #CEA430;
            color: #ffffff;
        }
        .col-md-7 {
            padding: 0 0 1rem 0;
            border: solid 1rem #CEA430;
            h1 {
                color: #ffffff;
                background-color: #CEA430;
                padding-bottom: 0.75rem;
                margin-bottom: 7rem;
                font-size: 2.5rem;
            }
            .notes {
                margin-top: 2rem;
                
                .row {
                    .col-4 {
                        span {
                            font-size: 0.75rem;
                            button {
                                font-size: 0.75rem;
                                width: 2.5rem;
                                margin: 0.25rem 0.5rem;
                                background-color: transparent;
                                color: #CEA430;
                                border: solid 1px #CEA430;
                                cursor: pointer;
                                box-shadow: none;
                            }
                            .btnGheDangDat {
                                background-color: #CEA430;
                                color: #ffffff;
                            }
                            .btnGheDaDat {
                                background-color: rgb(114, 114, 114);
                                color: white;
                                cursor: no-drop;
                                border: solid 1px rgb(114, 114, 114);
                                
                            }
                        }
                    }
                }
            }
        }
        .col-md-4 {
            padding: 0 0 4.5rem 0;
            border: solid 1rem #CEA430;
            position: relative;
            h1 {
                color: #ffffff;
                background-color: #CEA430;
                padding-bottom: 0.75rem;
                font-size: 2.5rem;                
            }
            h2 {
                font-size: 2rem;
                position: absolute;
                bottom: 10%;
                padding-bottom: 1.25rem;
            }
            .btnFooter {
                position: absolute;
                bottom: 2%;
                margin: auto;
                width: 100%;                
                text-align: center;
                .btnDatVe {
                    position: relative;
                    border: solid 3px #CEA430;
                    color: #CEA430;
                    font-size: 1.5rem;
                    font-weight: 700;
                    background-color: #ffffff;
                    box-shadow: 2px 2px 0px #CEA430;
                    transition: none;
                    -webkit-transition: none;
                    -moz-transition: none;
                    -ms-transition: none;
                    -o-transition: none;
                    padding: 0.5rem 1rem;

                    &:hover {
                        top: 3px;
                        left: 3px;
                        box-shadow: 3px 3px 0px transparent;
                    }
                }
            }
        }
    }
}
