.col-12 {
    position: relative;
    .btnTitle {
        position: absolute;
        bottom: -1rem;
        color: black;
        text-decoration: none;
        font-size: 1.5rem;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        padding: 0.5rem;
        box-shadow: none;
        &:hover {
            position: absolute;
            bottom: -1rem;
            font-size: 2rem;
            color: #CEA430;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
    }
    .active {
        position: absolute;
        bottom: -1rem;
        font-size: 2rem;
        color: #CEA430;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    button.btnPhimDangChieu {
        left: 42rem;
        &:hover {
            left: 42rem;
        }
    }
    button.btnPhimSapChieu {
        right: 44rem;
        &:hover {
            right: 44rem;
        }
    }
}