.list_now_showing {
    padding: 1.25rem;

    .row {
        .col-4 {
            .img {
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 10rem;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                }

                a {
                    opacity: 0;
                    position: absolute;
                    top: 38%;
                    left: 38%;
                    display: inline-block;
                    z-index: 3;
                    transition: all 0.6s;
                    -webkit-transition: all 0.6s;
                    -moz-transition: all 0.6s;
                    -ms-transition: all 0.6s;
                    -o-transition: all 0.6s;

                    i {
                        font-size: 2.5rem;
                        font-weight: 100;
                    }
                }

                .img_overlay {
                    position: absolute;
                    top: 0;
                    left: -0.25rem;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to right, #CEA430, #6B3e2b);
                    transform: translate(-9rem, 7rem);
                    -webkit-transform: translate(-9rem, 7rem);
                    -moz-transform: translate(-9rem, 7rem);
                    -ms-transform: translate(-9rem, 7rem);
                    -o-transform: translate(-9rem, 7rem);
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }

                &:hover {
                    a {
                        opacity: 1;
                        transition: all 0.6s;
                        -webkit-transition: all 0.6s;
                        -moz-transition: all 0.6s;
                        -ms-transition: all 0.6s;
                        -o-transition: all 0.6s;
                    }

                    .img_overlay {
                        left: 0;
                        transform: translate(0, 0);
                        -webkit-transform: translate(0, 0);
                        -moz-transform: translate(0, 0);
                        -ms-transform: translate(0, 0);
                        -o-transform: translate(0, 0);
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;
                    }
                }
            }
        }

        .col-8 {
            p {
                text-transform: uppercase;
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                padding-left: 0;
            }

            div {
                .btn {
                    position: relative;
                    border: solid 3px #CEA430;
                    color: #CEA430;
                    font-size: 1rem;
                    font-weight: 600;
                    background-color: #ffffff;
                    box-shadow: 2px 2px 0px #CEA430;
                    transition: none;
                    -webkit-transition: none;
                    -moz-transition: none;
                    -ms-transition: none;
                    -o-transition: none;

                    &:hover {
                        top: 2px;
                        left: 2px;
                        box-shadow: 2px 2px 0px transparent;
                    }
                }

                .btnActive {
                    top: 2px;
                    left: 2px;
                    box-shadow: 2px 2px 0px transparent;
                    background: #CEA430;
                    color: #ffffff;                    
                }
            }
        }
    }

    &:hover {
        background-color: #f5f5f5;
    }
}

@media (max-width: 1680px) and (min-width: 1441px) {}

@media (max-width: 1440px) and (min-width: 1367px) {}

@media (max-width: 1366px) and (min-width: 1201px) {}

@media (max-width: 1200px) and (min-width: 993px) {}

@media (max-width: 992px) and (min-width: 769px) {
    .list_now_showing {
        .row {
            .col-4 {
                .img {
                    a {
                        top: 36% !important;
                        left: 36% !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    .list_now_showing {
        .row {
            .col-4 {
                .img {
                    img {
                        height: 7rem !important;
                    }

                    a {
                        top: 32% !important;
                        left: 30% !important;
                    }
                }
            }

            .col-8 {
                p {
                    padding: 0 !important;
                    font-size: 1rem !important;
                }

                div {
                    .btn {
                        font-size: 0.75rem !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {}