.btnGhe {
    width: 2.5rem;
    margin: 0.25rem 0.5rem;
    background-color: transparent;
    color: #CEA430;
    border: solid 1px #CEA430;
    cursor: pointer;
    font-size: 0.75rem;

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.btnGheDangDat {
    background-color: #CEA430;
    color: #ffffff;
}

.btnGheDaDat {
    background-color: rgb(80, 80, 80);
    color: white;
    border: solid 1px rgb(80, 80, 80);
    cursor: no-drop;
}