.btnGhe {
    width: 3.25rem;
    margin: 0.25rem 0.5rem;
    background-color: transparent;
    color: #CEA430;
    border: solid 1px #CEA430;
    cursor: pointer;
    box-shadow: none;
}

.btnGheDangDat {
    background-color: #CEA430;
    color: #ffffff;
}

.btnGheDaDat {
    background-color: rgb(80, 80, 80);
    color: white;
    border: solid 1px rgb(80, 80, 80);
    cursor: no-drop;
}