section {
    padding: 2.5rem 0;
    .container {
        .row {
            .col-2 {
                ul {
                    padding: 0;
                    list-style: none;
                    margin-top: 1rem;
                    li {
                        a {
                            color: black;
                        }
                    }
                }
            }
            .col_normal {
                ul {
                    margin-bottom: 0;
                    li {
                        a {
                            color: black;
                            transition: all 0.25s;
                            -webkit-transition: all 0.25s;
                            -moz-transition: all 0.25s;
                            -ms-transition: all 0.25s;
                            -o-transition: all 0.25s;
                        }
                        &:hover {
                            a {
                                text-decoration: none;
                                color: #CEA430;
                                transition: all 0.25s;
                                -webkit-transition: all 0.25s;
                                -moz-transition: all 0.25s;
                                -ms-transition: all 0.25s;
                                -o-transition: all 0.25s;
                            }
                        }
                    }
                }
            }
            .ket_noi {
                padding: 0;
                ul {
                    li {
                        a {
                            margin-right: 0.5rem;
                            font-size: 1.5rem;
                            transition: all 0.25s;
                            -webkit-transition: all 0.25s;
                            -moz-transition: all 0.25s;
                            -ms-transition: all 0.25s;
                            -o-transition: all 0.25s;
                            &:hover {
                                i {
                                    transition: all 0.25s;
                                    -webkit-transition: all 0.25s;
                                    -moz-transition: all 0.25s;
                                    -ms-transition: all 0.25s;
                                    -o-transition: all 0.25s;
                                }
                                i.fa-facebook {
                                    color: #4267b2;
                                }
                                i.fa-youtube-play {
                                    color: #DC483C;
                                }
                                i.fa-google-plus {
                                    color: #CF4538;
                                }
                                i.fa-instagram {
                                    color: #AB4095;
                                }
                                i.fa-linkedin {
                                    color: #0179B5;
                                }
                                i.fa-apple {
                                    color: #76BEE9;
                                }
                                i.fa-android {
                                    color: #93DB24;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1680px) and (min-width: 1441px) {

}

@media (max-width: 1440px) and (min-width: 1367px) {

}

@media (max-width: 1366px) and (min-width: 1201px) {

}

@media (max-width: 1200px) and (min-width: 993px) {

}

@media (max-width: 992px) and (min-width: 769px) {
    section {
        .container {
            .row {
                .col_normal {
                    h4 {
                        font-size: 1.25rem !important;
                    }
                }
                .ket_noi {
                    h4 {
                        font-size: 1.25rem !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    section {
        .container {
            .row {
                .col-4 {
                    img {
                        width: 100% !important;
                    }
                }
                .col-2 {
                    ul {
                        font-size: 0.75rem !important;
                    }
                }
                .col_normal {
                    h4 {
                        font-size: 1rem !important;
                    }
                }
                .ket_noi {
                    h4 {
                        font-size: 1.25rem !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {

}

